#bg_heart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.heart_tiny {
  width: calc(var(--index) * 3);
  height: calc(var(--index) * 3);
  background-color: #fe63b1;
  transform-origin: 0 0;
  animation: explode 1s ease-out, fade 1.5s ease-out;
}

.heart {
  position: absolute;
  top: -50%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -m-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.heart:before {
  position: absolute;
  top: -50%;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%;
}

.heart:after {
  position: absolute;
  top: 0;
  right: -50%;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%;
}

@keyframes explode {
  0% {
    transform: translate(0, 0) scale(1) rotate(0);
  }
  100% {
    transform: translate(var(--x-offset), var(--y-offset)) scale(0.5)
      rotate(315deg);
  }
}

/* Fade out */
@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
