:root {
  --index: calc(1vw + 1vh);
  --gutter: 30px;
  --side-small: 26;
  --side-big: 36;
  --side-giga-big: 50;
  --depth: 29800px;
  --transition: 0.75s cubic-bezier(0.075, 0.5, 0, 1);
}

@font-face {
  font-family: raleway_c;
  src: url(../../public/fonts/raleway-v22-cyrillic-300.woff2);
  font-weight: 300;
}

@font-face {
  font-family: raleway_c;
  src: url(../../public/fonts/raleway-v22-cyrillic-100.woff2);
  font-weight: 100;
}

html,
body {
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

body {
  background: #ffdad9;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.frame {
  width: 100%;
  height: 100svh;
}

.dark {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25svh 0 0 0;
  background-color: #000;
  height: 100svh;
  box-shadow: rgba(255, 218, 217, 0.35) 0px -50px 36px -28px inset;
}

.second {
  height: 475svh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.third {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20svh;
  padding: 10svh 0;
  background: #ffdad9;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  height: 240svh;
}

.fourth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame-title {
  font-family: raleway_c;
  font-weight: 300;
  font-size: calc(var(--index) * 3.5);
  text-align: center;
  text-wrap: wrap;
  line-height: calc(var(--index) * 4);
  letter-spacing: calc(var(--index) * 0.3);
  width: 100%;
  margin: 0;
  padding: 0 calc(var(--index) * 2.5);
  color: #ffffff;
  z-index: 1;
}

.frame-subtitle {
  font-family: raleway_c;
  font-weight: 100;
  font-size: calc(var(--index) * 1);
  text-align: center;
  text-wrap: wrap;
  letter-spacing: calc(var(--index) * 0.15);
  width: 100%;
  margin: 0;
  padding: 0 calc(var(--index) * 2.5);
  color: #ffffff;
  z-index: 1;
}

.puppy {
  width: calc(var(--index) * 10);
  height: calc(var(--index) * 10);
  object-fit: cover;
  filter: drop-shadow(0 0 4px #000);
  z-index: 1;
}

.frame-media {
  position: relative;
  height: 33svh;
  background-position: center;
  background-size: cover;
}

.second video {
  width: max-content;
  height: 33svh;
  border: none;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0 0 20px #000000;
}

.second video.frame-media_right {
  left: 29%;
}

.second video.frame-media_left {
  right: 0;
}

.third img {
  width: calc(var(--index) * 20);
  height: calc(var(--index) * 20);
  object-fit: cover;
  filter: drop-shadow(0 0 4px #000);
  z-index: 1;
}

.third img:last-child {
  filter: none;
}

.fourth img {
  width: calc(var(--index) * 20);
  height: calc(var(--index) * 20);
  object-fit: cover;
  filter: drop-shadow(0 0 4px #000000);
  z-index: 1;
}

.love {
  animation: heart 1.5s ease 0s infinite normal none;
}

@keyframes heart {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }

  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }

  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }

  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }

  45% {
    animation-timing-function: ease-out;
    transform: scale(1.2);
  }
}
